<a href="https://colab.research.google.com/github/anhphuong012/ML-2023/blob/main/Lab_3_20130371_NguyenNgocPhuong.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Deadline: 23:59, 04/03/2023**

# Task 1. 
The main aim of this task is to get familiar with the tasks of preprocessing data using Scikit-learn – a Python-based Machine Learning framework and Linear Regression.

For given 2 datasets (preprocessing_weather.csv, preprocessing_salary_dummy.csv), 
*   Identify issues with these datasets
*   Then, apply preprocessing techniques to the datasets

#Task 1.1. Dataset preprocessing_weather.csv

**Issues**:


1.   Cột temperature và cột humidity có dòng thiếu dữ liệu.
2.   Cột outlook và windy đang ở dạng rời rạc.
....

**Preprocessing dataset**:

In [3]:
#code
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/lab'

Mounted at /content/gdrive
/content/gdrive/MyDrive/lab

In [4]:
#import thư viện
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression 
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [ ]:
data = pd.read_csv('preprocessing_weather.csv')

imputer = SimpleImputer(missing_values=np.nan,strategy="median")
data

    id   outlook temperature humidity  windy play
0    1     sunny          85       85  False   no
1    2     sunny          80       90   True   no
2    3  overcast          83       86  False  yes
3    4     rainy       NaN         96  False  yes
4    5     rainy          68       80  False  yes
5    6     rainy          65       70   True   no
6    7  overcast          64       65   True  yes
7    8     sunny          72       95  False   no
8    9     sunny          69    NaN    False  yes
9   10     rainy          75       80  False  yes
10  11     sunny          75       70   True  yes
11  12  overcast          72       90   True  yes
12  13  overcast          81       75  False  yes
13  14     rainy          71       91   True   no

In [ ]:

data[['temperature','humidity']] = imputer.fit_transform(data[['temperature','humidity']])
data

    id   outlook  temperature  humidity  windy play
0    1     sunny         85.0      85.0  False   no
1    2     sunny         80.0      90.0   True   no
2    3  overcast         83.0      86.0  False  yes
3    4     rainy         72.0      96.0  False  yes
4    5     rainy         68.0      80.0  False  yes
5    6     rainy         65.0      70.0   True   no
6    7  overcast         64.0      65.0   True  yes
7    8     sunny         72.0      95.0  False   no
8    9     sunny         69.0      85.0  False  yes
9   10     rainy         75.0      80.0  False  yes
10  11     sunny         75.0      70.0   True  yes
11  12  overcast         72.0      90.0   True  yes
12  13  overcast         81.0      75.0  False  yes
13  14     rainy         71.0      91.0   True   no

#Task 1.2. Dataset preprocessing_salary_dummy.csv

**Issues**:


1.   Dữ liệu ở cột  Age và cột Salary có dòng thiếu dữ liệu.
2.   Dữ liệu ở cột Country và Purchased đang ở dạng rời rạc.
....

**Preprocessing dataset**:

In [ ]:
#code
data_salary = pd.read_csv('preprocessing_salary_dummy.csv')
data_salary

   No    Country   Age     Salary  Purchased
0   1     France  44.0     72000.0        No
1   2      Spain  27.0     48000.0       Yes
2   3    Germany  30.0     54000.0        No
3   4      Spain  38.0     61000.0        No
4   5    Germany  40.0         NaN       Yes
5   6     France  35.0     58000.0       Yes
6   7      Spain   NaN     52000.0        No
7   8     France  48.0     79000.0       Yes
8   9    Germany  50.0     83000.0        No
9  10     France  37.0     67000.0       Yes

In [ ]:
data_salary[[' Age','   Salary ']] = imputer.fit_transform(data_salary[[' Age','   Salary ']])
data_salary

   No    Country   Age     Salary  Purchased
0   1     France  44.0     72000.0        No
1   2      Spain  27.0     48000.0       Yes
2   3    Germany  30.0     54000.0        No
3   4      Spain  38.0     61000.0        No
4   5    Germany  40.0     61000.0       Yes
5   6     France  35.0     58000.0       Yes
6   7      Spain  38.0     52000.0        No
7   8     France  48.0     79000.0       Yes
8   9    Germany  50.0     83000.0        No
9  10     France  37.0     67000.0       Yes

In [ ]:
dummies = pd.get_dummies(data_salary['   Country'])

merged = pd.concat([data_salary, dummies], axis='columns')
merged.drop(['   Country'], axis='columns')
merged

   No    Country   Age     Salary  Purchased  France  Germany  Spain
0   1     France  44.0     72000.0        No       1        0      0
1   2      Spain  27.0     48000.0       Yes       0        0      1
2   3    Germany  30.0     54000.0        No       0        1      0
3   4      Spain  38.0     61000.0        No       0        0      1
4   5    Germany  40.0     61000.0       Yes       0        1      0
5   6     France  35.0     58000.0       Yes       1        0      0
6   7      Spain  38.0     52000.0        No       0        0      1
7   8     France  48.0     79000.0       Yes       1        0      0
8   9    Germany  50.0     83000.0        No       0        1      0
9  10     France  37.0     67000.0       Yes       1        0      0

# **Task 2**. Simple Linear Regression in Scikit-Learn
---
# **Usage:**
> **Step 1**: build a model
![image.png]()

> **Step 2**: test the model

*   With test set:
`y_pred = regressor.predict(X_test)`

*   With a single value ("predict" method always expects a 2D array as the format of its inputs)
`regressor.predict([[12]])`

> **Step 3**: 
*   get w0, w1 , w2, …,
-- W0: `regressor.intercept_`
-- w1, w2, …: `regressor.coef_`
*   R^2 score: sum of squared r(i)
`r(i) = y(i) - f(x(i))`: residual of ith instance


> **Metrics**:
*   metrics.explained_variance_score(y_test, y_pred)
*   metrics.mean_absolute_error(y_ test, y_pred) 
*   metrics.mean_squared_error(y_ test, y_pred[, ...])
*   metrics.mean_squared_log_error(y_ test, y_pred)
*   metrics.median_absolute_error(y_ test, y_pred)
*   metrics.r2_score(y_ test, y_pred[, ...])



---

# Tasks
The main aim of these tasks is to get familiar with Linear Regression problems. Apply LinearRegression to the following datasets. Note the error obtained and coefficients
*   **dataset1.csv** - a synthetic dataset including 5 points (1-dimensional data) with one target
*   **dataset2.csv** - a synthetic dataset including 1000 points (3-dimensional data) with one target variable. The variables are named x1, x2, x3, y. y is the variable to be regressed. Split the dataset into training set and test set (70% for training set and 30% for test set).

# Task 2.1. dataset1.csv

In [ ]:
#code

dataset1 = pd.read_csv('dataset1.csv')
X_train = dataset1[['x']]
Y_train = dataset1[['y']]




print(X_train)
print(Y_train)

   x
0  1
1  2
2  4
3  3
4  5
   y
0  1
1  3
2  3
3  2
4  5

**Khai báo Regression**

In [18]:
regression = LinearRegression()

In [ ]:
regression.fit(X_train,Y_train)
print(regression.intercept_)
print(regression.coef_)

[0.4]
[[0.8]]

In [ ]:
y_red = regression.predict(X_train)
y_red

array([[1.2],
       [2. ],
       [3.6],
       [2.8],
       [4.4]])

In [ ]:
r2 = metrics.r2_score(Y_train,y_red)
r2

0.7272727272727273

# Task 2.2. dataset2.csv

In [ ]:
#code

dataset2 = pd.read_csv('dataset2.csv')
dataset2

      id       x1       x2       x3         y
0      1  2.41710  0.83595  0.72469  18.21900
1      2  1.98150 -1.01800 -1.06400   0.55271
2      3  1.82850  0.49281 -0.89035   7.00510
3      4  1.50480 -1.74070 -1.72290  -7.06310
4      5  0.27489 -0.31811 -0.56168   0.74380
..   ...      ...      ...      ...       ...
594  595  1.64550  0.63758 -0.75519   7.71100
595  596 -1.16320  0.17321 -2.23150  -9.95440
596  597 -1.61920 -0.57279 -2.26420 -14.47000
597  598 -0.34407  1.86730 -2.22070  -0.66676
598  599 -0.12172 -0.99826 -2.14240 -11.07000

[599 rows x 5 columns]

In [ ]:
X = dataset2[['x1','x2','x3']]
Y = dataset2[['y']]

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 1)


regression.fit(X_train,y_train)
print(regression.intercept_)
print(regression.coef_)

[4.00002045]
[[2.99999593 3.99999565 4.99999157]]

In [ ]:
y_red = regression.predict(X_test)
y_red

array([[ -1.09555994],
       [  2.82102377],
       [ -2.80936993],
       [  0.93248117],
       [  4.46717086],
       [ 18.10287795],
       [-17.89014708],
       [  9.33476505],
       [  4.21722312],
       [ 23.10459471],
       [  7.45104576],
       [  8.46791969],
       [ 18.21855087],
       [ -4.17904845],
       [  6.84075558],
       [  2.95236441],
       [  8.85771178],
       [ -0.74379807],
       [ 15.01121128],
       [ 10.95829928],
       [-18.12084873],
       [ -4.44901703],
       [ -0.80967441],
       [ 22.74599616],
       [-13.42213273],
       [ 18.65213653],
       [  9.02682149],
       [ -4.48154008],
       [ 10.20840546],
       [ 14.95625205],
       [  6.46187466],
       [ 12.21761409],
       [  0.73404084],
       [  8.62311054],
       [ -4.17021826],
       [-12.78145809],
       [ 15.66639598],
       [ 20.62850697],
       [ -0.5914231 ],
       [ -5.31117543],
       [ 10.51841256],
       [ -5.39886303],
       [  3.65506371],
       [  0.34790721],
       [-16.12787119],
       [ 12.34776026],
       [ -1.38895649],
       [ -8.73714355],
       [  4.38949898],
       [  0.48893305],
       [  3.38193768],
       [ -1.95872286],
       [  8.98117026],
       [  2.69227511],
       [ 13.72274671],
       [ -0.72767798],
       [  9.27255958],
       [  0.89347186],
       [  9.19870036],
       [  8.09576062],
       [  7.70931902],
       [ 20.48891634],
       [  6.02816931],
       [  0.30307593],
       [  3.41877019],
       [  8.69541185],
       [ -1.57929023],
       [  9.7013816 ],
       [  8.42163527],
       [ -9.76256071],
       [  4.42875789],
       [ 23.19049228],
       [ -0.59057794],
       [ 17.12417996],
       [  6.29319849],
       [ 11.35596208],
       [  5.91645811],
       [  4.04950286],
       [ 14.8250268 ],
       [ 13.91610614],
       [ 16.57864344],
       [ 10.05091404],
       [ 20.39201672],
       [-13.82625445],
       [  3.19036946],
       [ 15.32180439],
       [  8.1962107 ],
       [-18.1239475 ],
       [ -7.39584193],
       [  9.05008182],
       [ -6.68543575],
       [  2.87702522],
       [ -9.16906887],
       [ 14.96197243],
       [ -7.06286359],
       [  2.86744637],
       [-11.27385833],
       [ 11.40577686],
       [ 14.89100049],
       [  2.91208196],
       [ 17.11915242],
       [ 12.99157496],
       [  4.53961468],
       [  7.71088735],
       [ 24.24699273],
       [ -5.81461951],
       [  2.53612789],
       [  2.97514742],
       [  1.18982111],
       [ 10.09590935],
       [ -4.10326479],
       [  9.99342948],
       [ -5.77077208],
       [ -4.14904926],
       [ -3.1307684 ],
       [  2.93019602],
       [ -1.30996923],
       [-12.47117733],
       [  9.37096529],
       [  9.0635092 ]])

In [ ]:
r2 = metrics.r2_score(y_test,y_red)
r2

0.9999999994479442

# Task 2.3. Apply LinearRegression to the following dataset:
*   Red wine quality: https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv . The dataset includes info about the chemical properties of different types of wine and how they relate to overall quality.

In [13]:
#code
data3 = pd.read_csv('winequality-red.csv',sep=";")
print(data3.columns)

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [9]:
data3

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [19]:
X = data3[['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol']]
Y = data3[['quality']]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 1)

regression.fit(X_train,Y_train)
print(regression.intercept_)
print(regression.coef_)

[40.44622602]
[[ 4.79622779e-02 -1.11840142e+00 -2.76227524e-01  2.04756941e-02
  -1.76890728e+00  5.34980397e-03 -3.44870744e-03 -3.67102234e+01
  -3.47701478e-01  9.29729469e-01  2.66278221e-01]]

In [20]:
y_pred = regression.predict(X_test)
y_pred

array([[5.53665503],
       [5.3757028 ],
       [6.09994909],
       [5.7271783 ],
       [6.68879378],
       [5.97168959],
       [6.19501591],
       [5.0949962 ],
       [5.78560446],
       [5.16051207],
       [6.18938201],
       [5.3458751 ],
       [5.56153145],
       [6.48086642],
       [5.62134947],
       [5.34994932],
       [5.96750537],
       [5.42356559],
       [5.60694483],
       [5.41711492],
       [5.73487774],
       [6.17637761],
       [5.37367225],
       [6.41905085],
       [5.44448873],
       [6.30767106],
       [6.09458407],
       [5.68011379],
       [5.30702362],
       [5.83089423],
       [5.26785033],
       [6.38597599],
       [5.21408686],
       [6.30405167],
       [4.93102342],
       [5.71810813],
       [5.28395579],
       [5.36258835],
       [6.36476545],
       [5.06531698],
       [6.06709542],
       [5.05867037],
       [5.20044998],
       [6.14658841],
       [5.12300708],
       [5.7678295 ],
       [5.10673949],
       [5.2573674 ],
       [5.10344829],
       [6.03703173],
       [5.66043957],
       [5.45202212],
       [6.23953602],
       [4.83756366],
       [5.08496714],
       [5.9723325 ],
       [6.05798102],
       [5.94793992],
       [5.85472477],
       [5.26350735],
       [6.32176985],
       [5.18819282],
       [5.28551904],
       [5.53125142],
       [4.63176391],
       [5.42415578],
       [6.67633306],
       [5.69037958],
       [5.76768184],
       [6.44320399],
       [4.93102342],
       [6.37001882],
       [5.65578233],
       [5.76375355],
       [5.40209195],
       [5.27725639],
       [6.13449441],
       [5.34311165],
       [5.72077258],
       [5.80898679],
       [6.02026624],
       [5.12659997],
       [4.99360121],
       [5.53007799],
       [5.61675584],
       [5.11542299],
       [5.31343704],
       [6.09548683],
       [5.38406092],
       [5.81858487],
       [5.23414222],
       [6.29114959],
       [5.06173756],
       [6.22526939],
       [6.09909795],
       [5.32517908],
       [6.30468674],
       [5.45078698],
       [4.8120227 ],
       [6.24931201],
       [5.48095331],
       [5.39671423],
       [5.30821606],
       [4.96220223],
       [4.84167519],
       [5.35084453],
       [5.77853816],
       [5.44864651],
       [5.98774467],
       [6.53856388],
       [6.50315735],
       [5.45418532],
       [6.203404  ],
       [5.47493382],
       [4.98967968],
       [6.64372475],
       [5.28314033],
       [4.95865982],
       [5.16380154],
       [5.20423132],
       [4.90050202],
       [6.60890312],
       [6.42344434],
       [5.04387537],
       [5.33565231],
       [5.55010003],
       [5.91532236],
       [5.16890031],
       [6.20887744],
       [5.77049636],
       [5.67728093],
       [5.15127653],
       [6.28662945],
       [5.02775687],
       [5.90029247],
       [5.92397143],
       [5.1159713 ],
       [6.53145974],
       [5.27300832],
       [5.41031232],
       [5.11862834],
       [5.39188457],
       [5.75825977],
       [5.28879698],
       [5.99410983],
       [6.38175422],
       [5.63076412],
       [4.7645755 ],
       [5.78318815],
       [5.90143809],
       [5.50457891],
       [6.5189233 ],
       [5.14862549],
       [5.21189943],
       [6.08748808],
       [6.18788722],
       [6.26094886],
       [6.21534633],
       [5.91066311],
       [5.43528519],
       [6.1532545 ],
       [5.77436591],
       [5.12525548],
       [5.16076948],
       [6.38965796],
       [5.95532789],
       [5.71132456],
       [5.12097669],
       [5.22948382],
       [5.93959268],
       [5.16589994],
       [6.03158692],
       [5.00037683],
       [5.0867676 ],
       [6.36776284],
       [5.34649211],
       [5.41880391],
       [4.97422589],
       [5.46039682],
       [5.32517908],
       [5.66796795],
       [6.21774513],
       [5.71689736],
       [5.86103939],
       [6.39590236],
       [6.71510956],
       [6.37063005],
       [5.55775022],
       [5.18126602],
       [4.89497891],
       [5.48073139],
       [5.70574845],
       [5.42954014],
       [5.00847579],
       [5.90086062],
       [5.27052337],
       [5.66295474],
       [5.60094558],
       [5.48565448],
       [5.29539544],
       [6.17892578],
       [5.59678363],
       [6.25419371],
       [5.07866654],
       [6.60453286],
       [5.8987675 ],
       [5.25730904],
       [4.94200372],
       [6.29916958],
       [5.75049425],
       [5.72351312],
       [6.0681676 ],
       [5.30821606],
       [6.29392551],
       [5.31888103],
       [5.14402189],
       [5.22911872],
       [5.05151535],
       [5.98734016],
       [5.60182594],
       [5.74543505],
       [5.26442708],
       [5.11133128],
       [5.10239676],
       [5.97795927],
       [5.61942583],
       [5.71961698],
       [5.75430531],
       [6.58934149],
       [5.76219008],
       [5.30106955],
       [5.07120567],
       [6.14860897],
       [6.16290832],
       [5.45827474],
       [5.29371274],
       [6.23510832],
       [5.00994369],
       [5.58047044],
       [5.41722172],
       [5.93453569],
       [6.00997566],
       [5.84891251],
       [5.4420804 ],
       [5.71905379],
       [6.62702833],
       [5.83445154],
       [5.36128932],
       [4.88229333],
       [5.38949865],
       [4.9984862 ],
       [5.14676556],
       [6.61646945],
       [5.74680587],
       [6.34287049],
       [5.05816747],
       [5.1900722 ],
       [4.86517678],
       [5.30348249],
       [5.95438454],
       [5.93127084],
       [5.48602098],
       [5.61079216],
       [5.43656072],
       [5.44575009],
       [5.78318815],
       [5.61450989],
       [5.14738268],
       [4.95257836],
       [6.2076777 ],
       [5.44367418],
       [5.72206982],
       [5.11965118],
       [6.41810177],
       [4.96747741],
       [5.74407302],
       [4.96634767],
       [6.03158692],
       [5.4714843 ],
       [5.31261152],
       [6.71666013],
       [5.78811103],
       [5.64480296],
       [4.99674751],
       [5.12702403],
       [5.91496512],
       [5.62765278],
       [5.88175886],
       [4.82311854],
       [5.69423164],
       [5.72813249],
       [5.96750537],
       [5.59006858],
       [5.30438181],
       [6.35226593],
       [6.08095517],
       [4.98204276],
       [6.35209912],
       [5.14010312],
       [5.53361195],
       [5.63592367],
       [6.26116298],
       [4.94827041],
       [5.75589669],
       [5.50644267],
       [5.48389936],
       [4.80835455],
       [6.27447222],
       [5.73657988],
       [4.88058685],
       [5.4839844 ],
       [5.70743661],
       [5.43804593],
       [6.61094441],
       [5.5079512 ],
       [5.71951166],
       [5.0402306 ],
       [5.12480587],
       [6.18749473],
       [6.23510832]])

In [21]:
r2 = metrics.r2_score( Y_test,y_pred)
r2

0.326640272698682

# Task 2.4. Apply LinearRegression to the following dataset:
*   Energy efficiency: https://archive.ics.uci.edu/ml/datasets/Energy+efficiency.

In [ ]:
#code
data = pd.read_excel('Task4_ENB2012_data.xlsx')
data

       X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0    0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1    0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2    0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3    0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4    0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28
..    ...    ...    ...     ...  ...  ..  ...  ..    ...    ...
763  0.64  784.0  343.0  220.50  3.5   5  0.4   5  17.88  21.40
764  0.62  808.5  367.5  220.50  3.5   2  0.4   5  16.54  16.88
765  0.62  808.5  367.5  220.50  3.5   3  0.4   5  16.44  17.11
766  0.62  808.5  367.5  220.50  3.5   4  0.4   5  16.48  16.61
767  0.62  808.5  367.5  220.50  3.5   5  0.4   5  16.64  16.03

[768 rows x 10 columns]

In [ ]:
X = data[['X1','X2','X3','X4','X5','X6','X7','X8']]
Y1 = data[['Y1']]
X_train, X_test, y1_train, y1_test = train_test_split(X, Y1, test_size = 0.2, random_state = 1)
regression.fit(X_train,y1_train)
print(regression.intercept_)
print(regression.coef_)

[81.37904986]
[[-6.37286002e+01 -8.12517595e+10  8.12517595e+10  1.62503519e+11
   4.26279306e+00  1.18149278e-02  1.97247945e+01  2.46060353e-01]]

In [ ]:
y1_pred = regression.predict(X_test)
y1_pred

array([[13.30267658],
       [27.46864625],
       [33.38608461],
       [32.657738  ],
       [34.13608059],
       [15.36289548],
       [12.41599123],
       [28.27498828],
       [15.0131211 ],
       [26.281372  ],
       [17.91533126],
       [30.42736543],
       [31.87261113],
       [17.20078006],
       [12.97653206],
       [32.69318278],
       [27.26986345],
       [17.70471569],
       [15.78108998],
       [33.86708375],
       [32.11867149],
       [ 8.56843116],
       [28.69146146],
       [18.11099909],
       [13.73587353],
       [33.62033003],
       [18.47011895],
       [13.06843116],
       [35.86251753],
       [16.02099237],
       [30.98764711],
       [33.14002425],
       [11.2833417 ],
       [16.64980244],
       [27.00773813],
       [36.12039281],
       [18.56767501],
       [11.02546642],
       [32.93924314],
       [15.03675096],
       [36.60337243],
       [12.00970783],
       [10.12352522],
       [12.19356073],
       [10.4744888 ],
       [11.6896251 ],
       [24.02738741],
       [31.65018064],
       [33.90183517],
       [32.90379835],
       [ 9.74812267],
       [30.67342578],
       [ 9.62324823],
       [15.28896928],
       [34.35102453],
       [34.58526996],
       [33.16365411],
       [29.24009118],
       [11.53896526],
       [16.96653463],
       [13.31449151],
       [28.16389597],
       [28.4454011 ],
       [34.36283946],
       [27.23441866],
       [40.53451809],
       [31.38049043],
       [17.92714619],
       [30.90767121],
       [14.95661208],
       [26.24592722],
       [15.30078421],
       [14.49768444],
       [32.90154663],
       [16.66161737],
       [31.42611345],
       [29.72039696],
       [33.6210234 ],
       [15.53502963],
       [25.58595931],
       [11.01365149],
       [29.96645731],
       [15.6537461 ],
       [34.09314925],
       [14.7437448 ],
       [39.53846175],
       [40.27664281],
       [36.83761786],
       [15.75746013],
       [12.69502692],
       [29.6967671 ],
       [24.83596332],
       [11.51758713],
       [33.65577481],
       [15.93525124],
       [30.91948613],
       [11.29515663],
       [31.39230536],
       [ 8.0526806 ],
       [35.07739066],
       [34.61707974],
       [16.42737194],
       [28.93752181],
       [11.78502562],
       [16.28502562],
       [12.82802776],
       [28.1757109 ],
       [27.70289167],
       [29.18358216],
       [37.30610871],
       [40.04239739],
       [22.62923845],
       [26.9959232 ],
       [11.29290491],
       [37.57579891],
       [10.07992416],
       [29.4647734 ],
       [31.73764309],
       [32.18699543],
       [16.6734323 ],
       [26.49198757],
       [28.05255778],
       [15.76311709],
       [26.25774215],
       [32.44712243],
       [16.40374209],
       [ 8.80267658],
       [34.59708489],
       [ 9.86930859],
       [15.62077076],
       [35.39402668],
       [10.73236408],
       [32.19881036],
       [35.87433246],
       [ 7.55321272],
       [30.75340168],
       [25.57414438],
       [ 9.45927037],
       [33.14985871],
       [13.7240586 ],
       [17.43502548],
       [28.40995632],
       [19.22011494],
       [14.89440463],
       [22.59379366],
       [29.22827625],
       [ 7.8302501 ],
       [36.5915575 ],
       [29.47658832],
       [15.68919088],
       [12.07803178],
       [26.76167778],
       [34.81951538],
       [35.89796231]])

In [ ]:
r2 = metrics.r2_score(y1_test,y1_pred)
r2

0.8983987508850517

In [ ]:
X = data[['X1','X2','X3','X4','X5','X6','X7','X8']]
Y2 = data[['Y2']]
X_train, X_test, y2_train, y2_test = train_test_split(X, Y1, test_size = 0.2, random_state = 1)
regression.fit(X_train,y1_train)
print(regression.intercept_)
print(regression.coef_)

[81.37904986]
[[-6.37286002e+01 -8.12517595e+10  8.12517595e+10  1.62503519e+11
   4.26279306e+00  1.18149278e-02  1.97247945e+01  2.46060353e-01]]

In [ ]:
y2_pred = regression.predict(X_test)
y2_pred

array([[13.30267658],
       [27.46864625],
       [33.38608461],
       [32.657738  ],
       [34.13608059],
       [15.36289548],
       [12.41599123],
       [28.27498828],
       [15.0131211 ],
       [26.281372  ],
       [17.91533126],
       [30.42736543],
       [31.87261113],
       [17.20078006],
       [12.97653206],
       [32.69318278],
       [27.26986345],
       [17.70471569],
       [15.78108998],
       [33.86708375],
       [32.11867149],
       [ 8.56843116],
       [28.69146146],
       [18.11099909],
       [13.73587353],
       [33.62033003],
       [18.47011895],
       [13.06843116],
       [35.86251753],
       [16.02099237],
       [30.98764711],
       [33.14002425],
       [11.2833417 ],
       [16.64980244],
       [27.00773813],
       [36.12039281],
       [18.56767501],
       [11.02546642],
       [32.93924314],
       [15.03675096],
       [36.60337243],
       [12.00970783],
       [10.12352522],
       [12.19356073],
       [10.4744888 ],
       [11.6896251 ],
       [24.02738741],
       [31.65018064],
       [33.90183517],
       [32.90379835],
       [ 9.74812267],
       [30.67342578],
       [ 9.62324823],
       [15.28896928],
       [34.35102453],
       [34.58526996],
       [33.16365411],
       [29.24009118],
       [11.53896526],
       [16.96653463],
       [13.31449151],
       [28.16389597],
       [28.4454011 ],
       [34.36283946],
       [27.23441866],
       [40.53451809],
       [31.38049043],
       [17.92714619],
       [30.90767121],
       [14.95661208],
       [26.24592722],
       [15.30078421],
       [14.49768444],
       [32.90154663],
       [16.66161737],
       [31.42611345],
       [29.72039696],
       [33.6210234 ],
       [15.53502963],
       [25.58595931],
       [11.01365149],
       [29.96645731],
       [15.6537461 ],
       [34.09314925],
       [14.7437448 ],
       [39.53846175],
       [40.27664281],
       [36.83761786],
       [15.75746013],
       [12.69502692],
       [29.6967671 ],
       [24.83596332],
       [11.51758713],
       [33.65577481],
       [15.93525124],
       [30.91948613],
       [11.29515663],
       [31.39230536],
       [ 8.0526806 ],
       [35.07739066],
       [34.61707974],
       [16.42737194],
       [28.93752181],
       [11.78502562],
       [16.28502562],
       [12.82802776],
       [28.1757109 ],
       [27.70289167],
       [29.18358216],
       [37.30610871],
       [40.04239739],
       [22.62923845],
       [26.9959232 ],
       [11.29290491],
       [37.57579891],
       [10.07992416],
       [29.4647734 ],
       [31.73764309],
       [32.18699543],
       [16.6734323 ],
       [26.49198757],
       [28.05255778],
       [15.76311709],
       [26.25774215],
       [32.44712243],
       [16.40374209],
       [ 8.80267658],
       [34.59708489],
       [ 9.86930859],
       [15.62077076],
       [35.39402668],
       [10.73236408],
       [32.19881036],
       [35.87433246],
       [ 7.55321272],
       [30.75340168],
       [25.57414438],
       [ 9.45927037],
       [33.14985871],
       [13.7240586 ],
       [17.43502548],
       [28.40995632],
       [19.22011494],
       [14.89440463],
       [22.59379366],
       [29.22827625],
       [ 7.8302501 ],
       [36.5915575 ],
       [29.47658832],
       [15.68919088],
       [12.07803178],
       [26.76167778],
       [34.81951538],
       [35.89796231]])

In [ ]:
r2 = metrics.r2_score(y2_test,y2_pred)
r2

0.8983987508850517

# Finally,
Save a copy in your Github. Remember renaming the notebook.