<a href="https://colab.research.google.com/github/anhphuong012/ML-2023/blob/main/Lab_6_20130371_NguyenNgocPhuong.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This lab is to deal with classification task using **Random Forests** and **Na√Øve Bayes** algorithms with/without **Feature Selection**. 

*   **Deadline: 23:59, 25/03/2023**

# Import libraries

In [43]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
import matplotlib.pyplot as plt
from prettytable import PrettyTable
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.ensemble import ExtraTreesClassifier
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [18]:
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/lab'

Mounted at /content/gdrive
/content/gdrive/MyDrive/lab

#Task 1. 
Task 1. Compare the performance of selected classification algorithms including **Random forest**, **NaiveBayes**, and **SVM** with **mnist** dataset based on **accuracy, precision, recall, f1** measures according to **without using selection feature** and **using selection feature**.

In [4]:
# code
mnist = datasets.load_digits()
X = mnist['data']
Y = mnist['target']
X_train,X_test,Y_train,Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 1)

In [ ]:
clf=RandomForestClassifier(n_estimators=100)
clf.fit(X_train,Y_train)
y_pred_rd = clf.predict(X_test)
cm_rd = confusion_matrix(Y_test,y_pred_rd);

accuracy_rd = accuracy_score(Y_test,y_pred_rd)
precision_rd = precision_score(Y_test,y_pred_rd,average='macro')
recall_rd = recall_score(Y_test,y_pred_rd,average='macro')
f1_rd = f1_score(Y_test,y_pred_rd,average='macro')

print(accuracy_rd)

0.9833333333333333

In [ ]:
model = GaussianNB()
model.fit(X_train, Y_train)
y_pred_naive = model.predict(X_test)

accuracy_naive = accuracy_score(Y_test,y_pred_naive)
precision_naive = precision_score(Y_test,y_pred_naive,average='macro')
recall_naive = recall_score(Y_test,y_pred_naive,average='macro')
f1_naive = f1_score(Y_test,y_pred_naive,average='macro')

print(accuracy_naive)

0.8527777777777777

In [ ]:
clf = svm.SVC(kernel = 'linear')
clf.fit(X_train,Y_train)
y_pred = clf.predict(X_test)

cm_svm = confusion_matrix(Y_test,y_pred);
accuracy_svm = accuracy_score(Y_test,y_pred);
precision_svm = precision_score(Y_test,y_pred,average='macro')
recall_svm = recall_score(Y_test,y_pred,average='macro');
f1_svm = f1_score(Y_test,y_pred,average='macro')

print(accuracy_svm)

0.9916666666666667

In [ ]:
t = PrettyTable(["Algorithms","Accuracy","Precision","Recall","F1"])
t.add_row(['SVM Linear kernel.',accuracy_svm,precision_svm,recall_svm,f1_svm])
t.add_row(['Random forest.',accuracy_rd,precision_rd,recall_rd,f1_rd])
t.add_row([' NaiveBayes.',accuracy_naive,precision_naive,recall_naive,f1_naive])
print(t)

+--------------------+--------------------+--------------------+--------------------+--------------------+
|     Algorithms     |      Accuracy      |     Precision      |       Recall       |         F1         |
+--------------------+--------------------+--------------------+--------------------+--------------------+
| SVM Linear kernel. | 0.9916666666666667 | 0.9908088235294118 | 0.9909078449646401 | 0.9907087680991878 |
|   Random forest.   | 0.9805555555555555 | 0.9793885726333544 | 0.9813786333934547 | 0.980111364841426  |
|     NaiveBayes.    | 0.8527777777777777 | 0.8780510866689003 | 0.8509574994840629 | 0.8476457455473201 |
+--------------------+--------------------+--------------------+--------------------+--------------------+

In [8]:
model = ExtraTreesClassifier(n_estimators=10)
model.fit(X, Y)

feature_imp = pd.Series(model.feature_importances_,index=mnist.feature_names).sort_values(ascending=False)
features = feature_imp.index[0:20]
print(features)

Index(['pixel_2_5', 'pixel_7_5', 'pixel_5_2', 'pixel_3_3', 'pixel_3_2',
       'pixel_3_4', 'pixel_5_3', 'pixel_4_2', 'pixel_2_4', 'pixel_4_4',
       'pixel_1_5', 'pixel_2_3', 'pixel_5_4', 'pixel_2_2', 'pixel_6_2',
       'pixel_4_1', 'pixel_3_6', 'pixel_6_6', 'pixel_1_2', 'pixel_5_5'],
      dtype='object')

In [9]:
df = pd.DataFrame(mnist['data'], columns = mnist.feature_names)
df['species'] = mnist['target']
# X1=df[['pixel_2_5', 'pixel_3_2', 'pixel_5_3','pixel_4_4','pixel_5_2','pixel_3_3','pixel_4_1','pixel_4_4','pixel_0_5','pixel_7_4']] 
X1 = df[features]
y1=df['species']                                       
# Split dataset into training set and test set
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.2, random_state=1)

print(X1)

      pixel_2_5  pixel_7_5  pixel_5_2  pixel_3_3  pixel_3_2  pixel_3_4  \
0          11.0        0.0       11.0        0.0       12.0        0.0
1           6.0       10.0        1.0       16.0       15.0       16.0
2          16.0       16.0       16.0        6.0        1.0       15.0
3           0.0        9.0        0.0       15.0        2.0       11.0
4           2.0        4.0       15.0       15.0        7.0        0.0
...         ...        ...        ...        ...        ...        ...
1792       16.0        9.0        0.0       16.0       12.0       16.0
1793       13.0        6.0       16.0        0.0       16.0        0.0
1794       16.0        6.0       16.0       16.0        8.0       16.0
1795       16.0       12.0        0.0       10.0       16.0        7.0
1796       15.0       12.0       16.0       16.0        5.0       16.0

      pixel_5_3  pixel_4_2  pixel_2_4  pixel_4_4  pixel_1_5  pixel_2_3  \
0           0.0        8.0        0.0        0.0       15.0        2.0
1          16.0        1.0       16.0       16.0        9.0       15.0
2          16.0        8.0        8.0       15.0       14.0       13.0
3           0.0        0.0       13.0       12.0        4.0       13.0
4          16.0       16.0        6.0        0.0        0.0       13.0
...         ...        ...        ...        ...        ...        ...
1792        0.0        0.0        3.0        4.0       16.0        6.0
1793        7.0       16.0        0.0        0.0       16.0        7.0
1794       14.0        9.0       10.0       16.0        2.0       15.0
1795        0.0        5.0        3.0       14.0       15.0        7.0
1796        6.0       12.0        8.0       15.0        1.0       15.0

      pixel_5_4  pixel_2_2  pixel_6_2  pixel_4_1  pixel_3_6  pixel_6_6  \
0           1.0       15.0       14.0        5.0        8.0        0.0
1          16.0        3.0        1.0        0.0        0.0        0.0
2           5.0        8.0       13.0        1.0        0.0        5.0
3           1.0        1.0        8.0        0.0        0.0        9.0
4          13.0        1.0        0.0        5.0        8.0        0.0
...         ...        ...        ...        ...        ...        ...
1792        0.0       16.0        5.0        0.0        5.0        4.0
1793        9.0       16.0       15.0        8.0        8.0        1.0
1794       16.0       16.0       15.0        0.0        0.0        0.0
1795        0.0       16.0        4.0        0.0        4.0        2.0
1796        4.0       15.0       16.0        0.0        0.0        8.0

      pixel_1_2  pixel_5_5
0          13.0       12.0
1           0.0        6.0
2           3.0        0.0
3          13.0       10.0
4           0.0       16.0
...         ...        ...
1792       16.0       15.0
1793       16.0       16.0
1794       13.0       15.0
1795       14.0       16.0
1796       16.0       16.0

[1797 rows x 20 columns]

In [10]:
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train1,y_train1)

# prediction on test set
y_pred1=clf.predict(X_test1)

accuracy_rd = accuracy_score(y_test1, y_pred1)
precision_rd = precision_score(y_test1,y_pred1,average='macro')
recall_rd = recall_score(y_test1,y_pred1,average='macro')
f1_rd = f1_score(y_test1,y_pred1,average='macro')

print(accuracy_rd)

0.9694444444444444

In [11]:
gau = GaussianNB()
gau.fit(X_train1, y_train1)
y_pred_naive = gau.predict(X_test1)

accuracy_naive = accuracy_score(y_test1,y_pred_naive)
precision_naive = precision_score(y_test1,y_pred_naive,average='macro')
recall_naive = recall_score(y_test1,y_pred_naive,average='macro')
f1_naive = f1_score(y_test1,y_pred_naive,average='macro')

print(accuracy_naive)

0.8888888888888888

In [12]:
clf = svm.SVC(kernel = 'linear')
clf.fit(X_train1,y_train1)
y_pred = clf.predict(X_test1)

cm_svm = confusion_matrix(y_test1,y_pred);
accuracy_svm = accuracy_score(y_test1,y_pred);
precision_svm = precision_score(y_test1,y_pred,average='macro')
recall_svm = recall_score(y_test1,y_pred,average='macro');
f1_svm = f1_score(y_test1,y_pred,average='macro')

print(accuracy_svm)

0.9694444444444444

In [13]:
t = PrettyTable(["Algorithms","Accuracy","Precision","Recall","F1"])
t.add_row(['SVM Linear kernel.',accuracy_svm,precision_svm,recall_svm,f1_svm])
t.add_row(['Random forest.',accuracy_rd,precision_rd,recall_rd,f1_rd])
t.add_row([' NaiveBayes.',accuracy_naive,precision_naive,recall_naive,f1_naive])
print(t)

+--------------------+--------------------+--------------------+--------------------+--------------------+
|     Algorithms     |      Accuracy      |     Precision      |       Recall       |         F1         |
+--------------------+--------------------+--------------------+--------------------+--------------------+
| SVM Linear kernel. | 0.9694444444444444 | 0.969356558192765  | 0.9664095274642943 | 0.9674645430323799 |
|   Random forest.   | 0.9694444444444444 | 0.9702341861324939 | 0.9685482751005228 | 0.9687820358206702 |
|     NaiveBayes.    | 0.8888888888888888 | 0.8954504312244251 | 0.8835750252371943 | 0.8859060151899467 |
+--------------------+--------------------+--------------------+--------------------+--------------------+

#Task 2. 
For given bank dataset (bank.csv) having the following attributes :
1.	**age** (numeric)
2.	**job** : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3.	**marital** : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
4.	**education** (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
5.	**default**: has credit in default? (categorical: 'no','yes','unknown')
6.	**housing**: has housing loan? (categorical: 'no','yes','unknown')
7.	**loan**: has personal loan? (categorical: 'no','yes','unknown')
8.	**contact**: contact communication type (categorical: 'cellular','telephone')
9.	**month**: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
10.	**day_of_week**: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
11.	**duration**: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
12.	**campaign**: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13.	**pdays**: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14.	**previous**: number of contacts performed before this campaign and for this client (numeric)
15.	**poutcome**: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')
Output variable (desired target):
16.	**y**. has the client subscribed a term deposit? (binary: 'yes','no')

In [19]:
data = pd.read_csv("bank.csv")
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

#3.1. Apply StandardScaler() function to columns that contains numerical data ('age', 'balance', 'day', 'campaign', 'pdays', 'previous')

In [67]:
#
scale = StandardScaler()

cols_name = ['age', 'balance', 'day', 'campaign', 'pdays', 'previous']
data[cols_name] = scale.fit_transform(data[cols_name])
print(data)

            age          job  marital  education default   balance housing  \
0      1.491505       admin.  married  secondary      no  0.252525     yes
1      1.239676       admin.  married  secondary      no -0.459974      no
2     -0.019470   technician  married  secondary      no -0.080160     yes
3      1.155733     services  married  secondary      no  0.293762     yes
4      1.071790       admin.  married   tertiary      no -0.416876      no
...         ...          ...      ...        ...     ...       ...     ...
11157 -0.691015  blue-collar   single    primary      no -0.473616     yes
11158 -0.187357     services  married  secondary      no -0.246658      no
11159 -0.774958   technician   single  secondary      no -0.464934      no
11160  0.148416   technician  married  secondary      no -0.473926      no
11161 -0.607072   technician  married  secondary      no -0.473926      no

      loan   contact       day month  duration  campaign     pdays  previous  \
0       no   unknown -1.265746   may      1042 -0.554168 -0.481184 -0.363260
1       no   unknown -1.265746   may      1467 -0.554168 -0.481184 -0.363260
2       no   unknown -1.265746   may      1389 -0.554168 -0.481184 -0.363260
3       no   unknown -1.265746   may       579 -0.554168 -0.481184 -0.363260
4       no   unknown -1.265746   may       673 -0.186785 -0.481184 -0.363260
...    ...       ...       ...   ...       ...       ...       ...       ...
11157   no  cellular  0.515650   apr       257 -0.554168 -0.481184 -0.363260
11158   no   unknown  0.040612   jun        83  0.547981 -0.481184 -0.363260
11159   no  cellular  0.396891   aug       156 -0.186785 -0.481184 -0.363260
11160  yes  cellular -0.909466   may         9 -0.186785  1.109571  1.818332
11161   no  cellular -0.790707   jul       628 -0.554168 -0.481184 -0.363260

      poutcome deposit
0      unknown     yes
1      unknown     yes
2      unknown     yes
3      unknown     yes
4      unknown     yes
...        ...     ...
11157  unknown      no
11158  unknown      no
11159  unknown      no
11160  failure      no
11161  unknown      no

[11162 rows x 17 columns]

#3.2. Apply Encode Categorical Value (OneHotEncoder) to transfrom categorical data to numerical data ('job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome')

In [78]:
#code
enc = OneHotEncoder()
cols_name = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']

#3.3. Apply **Decision tree, Random forest, kNN, Na√ØveBayes** to preproceed dataset in the previous steps. Then compare the obtained results using **accuracy, precision, recall, f1** measures.

In [ ]:
#code

#3.4. Using selection feature to above dataset, then compare the classification results with those in Task 2.3.

In [ ]:
#code

#Task 4. 
For a given dataset in the Lab #5 (**credit card dataset**), perform feature selection and thencompare the performance of selected classification algorithms (Decision Tree, kNN, Logistic Regression, SVM, Random Forest and NaiveBayes) based on accuracy, precision, recall, f1 measures.

In [103]:


# code
data = pd.read_csv('creditcard.csv')
colums = data.columns

X = data[colums[0:colums.size - 1]]
Y = data[colums[colums.size - 1]]

model = ExtraTreesClassifier(n_estimators=10)
model.fit(X, Y)

feature_imp = pd.Series(model.feature_importances_,index=colums[0:colums.size - 1]).sort_values(ascending=False)
features = feature_imp.index[0:9]
print(features)

            Time         V1         V2        V3        V4        V5  \
0            0.0  -1.359807  -0.072781  2.536347  1.378155 -0.338321
1            0.0   1.191857   0.266151  0.166480  0.448154  0.060018
2            1.0  -1.358354  -1.340163  1.773209  0.379780 -0.503198
3            1.0  -0.966272  -0.185226  1.792993 -0.863291 -0.010309
4            2.0  -1.158233   0.877737  1.548718  0.403034 -0.407193
...          ...        ...        ...       ...       ...       ...
284802  172786.0 -11.881118  10.071785 -9.834783 -2.066656 -5.364473
284803  172787.0  -0.732789  -0.055080  2.035030 -0.738589  0.868229
284804  172788.0   1.919565  -0.301254 -3.249640 -0.557828  2.630515
284805  172788.0  -0.240440   0.530483  0.702510  0.689799 -0.377961
284806  172792.0  -0.533413  -0.189733  0.703337 -0.506271 -0.012546

              V6        V7        V8        V9  ...       V21       V22  \
0       0.462388  0.239599  0.098698  0.363787  ... -0.018307  0.277838
1      -0.082361 -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672
2       1.800499  0.791461  0.247676 -1.514654  ...  0.247998  0.771679
3       1.247203  0.237609  0.377436 -1.387024  ... -0.108300  0.005274
4       0.095921  0.592941 -0.270533  0.817739  ... -0.009431  0.798278
...          ...       ...       ...       ...  ...       ...       ...
284802 -2.606837 -4.918215  7.305334  1.914428  ...  0.213454  0.111864
284803  1.058415  0.024330  0.294869  0.584800  ...  0.214205  0.924384
284804  3.031260 -0.296827  0.708417  0.432454  ...  0.232045  0.578229
284805  0.623708 -0.686180  0.679145  0.392087  ...  0.265245  0.800049
284806 -0.649617  1.577006 -0.414650  0.486180  ...  0.261057  0.643078

             V23       V24       V25       V26       V27       V28  Amount  \
0      -0.110474  0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62
1       0.101288 -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69
2       0.909412 -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66
3      -0.190321 -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50
4      -0.137458  0.141267 -0.206010  0.502292  0.219422  0.215153   69.99
...          ...       ...       ...       ...       ...       ...     ...
284802  1.014480 -0.509348  1.436807  0.250034  0.943651  0.823731    0.77
284803  0.012463 -1.016226 -0.606624 -0.395255  0.068472 -0.053527   24.79
284804 -0.037501  0.640134  0.265745 -0.087371  0.004455 -0.026561   67.88
284805 -0.163298  0.123205 -0.569159  0.546668  0.108821  0.104533   10.00
284806  0.376777  0.008797 -0.473649 -0.818267 -0.002415  0.013649  217.00

        Class
0           0
1           0
2           0
3           0
4           0
...       ...
284802      0
284803      0
284804      0
284805      0
284806      0

[284807 rows x 31 columns]
Index(['V17', 'V11', 'V16', 'V14', 'V10', 'V18', 'V12', 'V9', 'V3'], dtype='object')

In [106]:
df = pd.DataFrame(data[colums[0:colums.size - 1]], columns =colums[0:colums.size - 1])
df['Class'] = data[colums[colums.size - 1]]
X1 = df[features]
y1=df['Class']                                       
# Split dataset into training set and test set
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1,train_size=0.03,test_size = 0.005, random_state=1)

print(X_train1)

             V17       V11       V16       V14       V10       V18       V12  \
267513 -0.341388 -1.360008 -1.284609  0.323253  0.881628  1.280536 -0.508977
28142   0.288319 -0.519265  0.949935 -1.401631 -0.022018 -0.838955 -0.135122
246904  0.700273 -1.210135 -0.142703 -1.183494 -0.666047  0.317876  0.043877
15774  -0.054106  1.182071 -0.809646  0.227467 -1.566622  0.689655  1.272124
63314   0.400921 -1.349679 -0.240670  0.477768 -0.353648 -0.124067  0.358820
...          ...       ...       ...       ...       ...       ...       ...
231695 -1.177071  0.128670  0.269674  0.512781  0.170454  0.717076  0.914494
177878  0.233518 -1.192830 -0.814542  1.216736  0.129257 -0.341576  0.089925
217081 -0.542878  0.787854 -0.418116  0.974447 -0.038574  0.117115  0.050721
129012  0.226910 -1.237985 -1.498834  0.331141 -0.032383  0.865298 -0.225606
126641  0.717072 -0.327288 -1.238442  0.232641 -1.237780  0.150751 -0.366683

              V9        V3
267513 -0.548511 -1.791309
28142   0.126221  2.546442
246904  1.091275 -1.909363
15774   2.317865  0.337182
63314   0.109404  0.681515
...          ...       ...
231695  0.330188 -1.729322
177878 -0.014455 -2.373768
217081 -0.305718 -1.052858
129012 -1.203862  0.199325
126641  1.363543  2.065921

[8544 rows x 9 columns]

In [107]:
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train1,y_train1)

# prediction on test set
y_pred1=clf.predict(X_test1)

accuracy_rd = accuracy_score(y_test1, y_pred1)
precision_rd = precision_score(y_test1,y_pred1,average='macro')
recall_rd = recall_score(y_test1,y_pred1,average='macro')
f1_rd = f1_score(y_test1,y_pred1,average='macro')

print(accuracy_rd)

0.9992982456140351

In [109]:
gau = GaussianNB()
gau.fit(X_train1, y_train1)
y_pred_naive = gau.predict(X_test1)

accuracy_naive = accuracy_score(y_test1,y_pred_naive)
precision_naive = precision_score(y_test1,y_pred_naive,average='macro')
recall_naive = recall_score(y_test1,y_pred_naive,average='macro')
f1_naive = f1_score(y_test1,y_pred_naive,average='macro')

print(accuracy_naive)

0.9936842105263158

In [108]:
clf = svm.SVC(kernel = 'linear')
clf.fit(X_train1,y_train1)
y_pred = clf.predict(X_test1)

cm_svm = confusion_matrix(y_test1,y_pred);
accuracy_svm = accuracy_score(y_test1,y_pred);
precision_svm = precision_score(y_test1,y_pred,average='macro')
recall_svm = recall_score(y_test1,y_pred,average='macro');
f1_svm = f1_score(y_test1,y_pred,average='macro')

print(accuracy_svm)

0.9985964912280701

In [110]:
t = PrettyTable(["Algorithms","Accuracy","Precision","Recall","F1"])
t.add_row(['SVM Linear kernel.',accuracy_svm,precision_svm,recall_svm,f1_svm])
t.add_row(['Random forest.',accuracy_rd,precision_rd,recall_rd,f1_rd])
t.add_row([' NaiveBayes.',accuracy_naive,precision_naive,recall_naive,f1_naive])
print(t)

+--------------------+--------------------+--------------------+--------------------+--------------------+
|     Algorithms     |      Accuracy      |     Precision      |       Recall       |         F1         |
+--------------------+--------------------+--------------------+--------------------+--------------------+
| SVM Linear kernel. | 0.9985964912280701 | 0.9992977528089888 | 0.6666666666666666 | 0.749648629655657  |
|   Random forest.   | 0.9992982456140351 | 0.999648629655657  | 0.8333333333333333 | 0.8998242530755711 |
|     NaiveBayes.    | 0.9936842105263158 | 0.5996466431095406 | 0.8305203938115331 | 0.6522599712589138 |
+--------------------+--------------------+--------------------+--------------------+--------------------+

#Finally,
Save a copy in your Github. Remember renaming the notebook.